@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    // Retrieve username and user role from session
    var username = HttpContextAccessor.HttpContext?.Session.GetString("Username");
    var userRole = HttpContextAccessor.HttpContext?.Session.GetString("UserRole");
}

<aside class="w-64 bg-downy-200 shadow-md h-screen p-4 flex flex-col">
    <nav class="flex-1">
        <ul>
            <li class="mb-2">
                <a href="/Patient/Create" class="bg-stromboli text-white font-semibold py-2 px-4 rounded block hover:bg-applegreen transition duration-300">Patient Registration</a>
            </li>
            <li class="mb-2">
                <a href="/Patient" class="bg-stromboli text-white font-semibold py-2 px-4 rounded block hover:bg-applegreen transition duration-300">Patient Records</a>
            </li>
            <li class="mb-2">
                <a href="/Payment" class="bg-stromboli text-white font-semibold py-2 px-4 rounded block hover:bg-applegreen transition duration-300">Patient Payments</a>
            </li>
            <li class="mb-2">
                <a href="/MedicalRecord" class="bg-stromboli text-white font-semibold py-2 px-4 rounded block hover:bg-applegreen transition duration-300">Electronic Medical Records</a>
            </li>
        </ul>
    </nav>

    <!-- Logout Button and User Info at the bottom -->
    <div class="mt-auto flex items-center justify-between">
        <div class="text-black">
            <span class="font-semibold">@username</span><br />
            <span class="text-sm">@userRole</span>
        </div>
        <form method="post" action="/Account/Logout" class="inline">
            <button type="submit" class="bg-stromboli text-white font-semibold py-2 px-4 rounded hover:bg-stromboli transition duration-300">
                Logout
            </button>
        </form>
    </div>
</aside>
