@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    // Retrieve username and user role from session
    var username = HttpContextAccessor.HttpContext?.Session.GetString("Username");
    var userRole = HttpContextAccessor.HttpContext?.Session.GetString("UserRole");
}

<aside class="w-64 bg-apple-green shadow-md h-screen p-4">
    <h1 class="text-lg font-bold mb-4 text-white">Patient Management System</h1>
    <nav>
        <ul>
            <li class="mb-2">
                <a href="/Patient/Create" class="text-stromboli hover:text-white">Patient Registration</a>
            </li>
            <li class="mb-2">
                <a href="/Patient" class="text-stromboli hover:text-white">Patient Records</a>
            </li>
            <li class="mb-2">
                <a href="/Payment" class="text-stromboli hover:text-white">Patient Payments</a>
            </li>
            <li class="mb-2">
                <a href="/MedicalRecord" class="text-stromboli hover:text-white">Electronic Medical Records</a>
            </li>
        </ul>

        <!-- Logout Button and User Info -->
        <div class="mt-4 flex items-center justify-between">
            <div class="text-white">
                <span class="font-semibold">@username</span><br />
                <span class="text-sm">@userRole</span>
            </div>
            <form method="post" action="/Account/Logout" class="inline">
                <button type="submit" class="bg-edward text-white font-semibold py-2 px-4 rounded hover:bg-stromboli transition duration-300">
                    Logout
                </button>
            </form>
        </div>
    </nav>
</aside>
