@model PatientManagementSystem.ViewModels.MedicalRecordViewModel

<div class="bg-white shadow-md rounded-lg p-4 mt-4">
    <h4 class="text-xl font-semibold">Medical Record Information</h4>

    <form id="medicalRecordForm">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="PatientId" />
        <div class="mb-4">
            <label asp-for="ReasonForVisit" class="block text-sm font-medium text-gray-700">Reason for Visit</label>
            <textarea asp-for="ReasonForVisit" rows="3" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2"></textarea>
            <span asp-validation-for="ReasonForVisit" class="text-red-500 text-sm"></span>
        </div>

        <button type="button" class="bg-stromboli text-white font-semibold py-2 px-4 rounded-md hover:bg-stromboli mt-4" onclick="submitMedicalRecordForm();">
            Add Reason for Visit
        </button>
    </form>
</div>

<script>
    function submitMedicalRecordForm() {
        const medicalRecordData = new FormData(document.getElementById('medicalRecordForm'));

        fetch('@Url.Action("CreateMedicalRecord", "MedicalRecord")', {
            method: 'POST',
            body: medicalRecordData
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.href = '@Url.Action("Index", "Patient")';
                } else {
                    console.log(data.errors);
                }
            })
            .catch(error => console.error('Error:', error));
    }

</script>
